#container{
	width: 800px;
}
h1{
	background-color: #eee;
	padding:20px;
	border-radius: 30px;
}

#nav {
	display: inline-block;
	background-color: #eee;
	width: 180px;
	margin-top:  10px;
	padding: 0px;
	border-radius: 30px;

}
#home {
	margin-left: 10px;
	color:blue;
	padding-top: 5px;
}

#menu {
	color:blue;
	text-align: left;
	padding-left: 20px
}

#content{
	display: inline-block;
	background-color: gray;
	width: 550px;
	margin: 10px;
	padding: 20px;
	border-radius: 30px;
	vertical-align: top;

}

#content ul li {
	padding: 10px;

}

#footer{
	background-color: #eee;
	border-radius: 30px;
	padding:10px;
	height: 70px
}
a{
	color:blue;
}